<div class="{% if card.spoiler is defined and not show_spoilers %} spoiler{% endif %}"><!-- div 1 -->
<div class="card-text border-{{ card.faction_code }}"><!-- div 2 -->
	{{ card.text|raw }}
	{% if card.scheme_acceleration %}{% for i in 1..card.scheme_acceleration %}<span name="Acceleration" class="icon icon-acceleration"></span>{% endfor %}{% endif %}
	{% if card.scheme_amplify %}{% for i in 1..card.scheme_amplify %}<span name="Amplify" class="icon icon-amplify"></span>{% endfor %}{% endif %}
	{% if card.scheme_crisis %}{% for i in 1..card.scheme_crisis %}<span name="Crisis" class="icon icon-crisis"></span>{% endfor %}{% endif %}
	{% if card.scheme_hazard %}{% for i in 1..card.scheme_hazard %}<span name="Hazard" class="icon icon-hazard"></span>{% endfor %}{% endif %}
</div><!-- div 2 -->
{% if (card.boost_star) or (card.boost is defined and card.boost > 0) %}
	<div><!-- div 3 -->
		{% trans %}Boost{% endtrans %}:
		{% if card.boost_star %}<span class="icon icon-star color-boost"></span>{% endif %}{% if card.boost %}{% for i in 1..card.boost %}<span title="Boost" class="icon icon-boost color-boost"></span>{% endfor %}{% endif %}
	</div><!-- div 3 -->
{% endif %}
</div><!-- div 1 -->
