<div class="card-info{% if card.spoiler is defined and not show_spoilers %} spoiler{% endif %}" >
	<span class="card-type">{{ card.type_name }}{% if card.stage %}. Stage {{card.stage}}.{% endif %}</span>
	{% include 'AppBundle:Search:card-props.html.twig' %}
</div>