@font-face {
  font-family: 'marvel-icons';

  src:  url('../fonts/ChampionsIcons.ttf?') format('truetype');

  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'marvel-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.spoiler {
  background-color : #dfdfdf;
  color : #dfdfdf!important;
}
.spoiler a, .spoiler div {
  color : #dfdfdf!important;
}
.spoiler img {
  filter: url(blur.svg#blur);
  -webkit-filter: blur(3px);
  filter: blur(3px);
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
}
.color-mental {
  color: #003961;
}
.color-energy {
  color: #ff8f3f;
}
.color-physical {
  color: #661e09;
}
.color-wild {
  color: #00543a;
}
.color-boost {
  color: #635120;
}
.icon-crisis {
  font-size: 32px;
}
.icon-crisis:before {
  content: "C";
}
.icon-acceleration {
  font-size: 32px;
}
.icon-acceleration:before {
  content: "A";
}
.icon-amplify {
  font-size: 32px;
}
.icon-amplify:before {
  content: "F";
}
.icon-hazard {
  font-size: 32px;
}
.icon-hazard:before {
  content: "H";
}
.icon-per_group:before {
  content: "T";
}
.icon-per_hero:before {
  content: "G";
}
.icon-unique:before {
  content: "U";
}
.icon-star:before {
  content: "S";
}
.icon-boost:before {
  content: "B";
}
.icon-cost:before {
  content: "D";
}
.icon-energy:before {
  content: "E";
}
.icon-mental:before {
  content: "M";
}
.icon-physical:before {
  content: "P";
}
.icon-wild:before {
  content: "W";
}
