AppBundle\Entity\Card:
    type: entity
    table: card
    repositoryClass: AppBundle\Repository\CardRepository
    gedmo:
        translation:
            locale: locale
    manyToOne:
        pack:
            targetEntity: Pack
            inversedBy: cards
            joinColumn:
                name: pack_id
                referencedColumnName: id
        type:
            targetEntity: Type
            inversedBy: cards
            joinColumn:
                name: type_id
                referencedColumnName: id
        subtype:
            targetEntity: Subtype
            inversedBy: cards
            joinColumn:
                name: subtype_id
                referencedColumnName: id
        faction:
            targetEntity: Faction
            inversedBy: cards
            joinColumn:
                name: faction_id
                referencedColumnName: id
        faction2:
            targetEntity: Faction
            nullable: true
            joinColumn:
                name: faction2_id
                referencedColumnName: id
        card_set:
            targetEntity: Cardset
            inversedBy: cards
            joinColumn:
                name: set_id
                referencedColumnName: id
        linked_to:
            targetEntity: Card
            inversedBy: linked_from
            joinColumn:
                name: linked_id
                referencedColumnName: id
    oneToMany:
        reviews:
            targetEntity: Review
            orderBy: {'dateCreation':'DESC'}
            mappedBy: card
        linked_from:
            targetEntity: Card
            mappedBy: linked_to
    fields:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
        position:
            type: smallint
            nullable: false
        setPosition:
            type: smallint
            nullable: true
        code:
            type: string
            length: 255
            nullable: false
        name:
            type: string
            length: 1024
            nullable: false
            gedmo:
                - translatable
        realName:
            type: string
            length: 1024
            nullable: false
        subname:
            type: string
            length: 1024
            nullable: true
            gedmo:
                - translatable
        cost:
            type: smallint
            nullable: true
        text:
            type: text
            nullable: true
            gedmo:
                - translatable
        realText:
            type: text
            nullable: true
        boostText:
            type: text
            nullable: true
            gedmo:
                - translatable
        realBoostText:
            type: text
            nullable: true
        dateCreation:
            type: datetime
            nullable: false
            column: date_creation
            gedmo:
                timestampable:
                    on: create
        dateUpdate:
            type: datetime
            nullable: false
            column: date_update
            gedmo:
                timestampable:
                    on: update
        quantity:
            type: smallint
            nullable: false
        resourceEnergy:
            type: smallint
            nullable: true
        resourcePhysical:
            type: smallint
            nullable: true
        resourceMental:
            type: smallint
            nullable: true
        resourceWild:
            type: smallint
            nullable: true
        handSize:
            type: smallint
            nullable: true
        health:
            type: smallint
            nullable: true
        healthPerHero:
            type: boolean
            nullable: true
        thwart: 
            type: smallint
            nullable: true
        thwartCost:
            type: smallint
            nullable: true
        scheme:
            type: smallint
            nullable: true
        attack:
            type: smallint
            nullable: true
        attackCost:
            type: smallint
            nullable: true
        defense:
            type: smallint
            nullable: true
        defenseCost:
            type: smallint
            nullable: true
        recover:
            type: smallint
            nullable: true
        recoverCost:
            type: smallint
            nullable: true
        deckLimit:
            type: smallint
            nullable: true
            column: deck_limit
        kicker:
            type: smallint
            nullable: true
        stage:
            type: smallint
            nullable: true
        traits:
            type: string
            length: 255
            nullable: true
            gedmo:
                - translatable
        realTraits:
            type: string
            length: 255
            nullable: true
        deckRequirements:
            type: string
            length: 500
            nullable: true
        deckOptions:
            type: string
            length: 500
            nullable: true
        restrictions:
            type: string
            length: 255
            nullable: true
        flavor:
            type: text
            nullable: true
            gedmo:
                - translatable
        illustrator:
            type: string
            length: 255
            nullable: true
        isUnique:
            type: boolean
            nullable: false
            column: is_unique
        hidden:
            type: boolean
            column: hidden
            options:
                default: false
        doubleSided:
            type: boolean
            nullable: true
            column: double_sided
        backText:
            type: text
            nullable: true
            gedmo:
                - translatable
        backFlavor:
            type: text
            nullable: true
            gedmo:
                - translatable
        backName:
            type: string
            length: 1024
            nullable: true
            gedmo:
                - translatable
        octgnId:
            type: string
            nullable: true
            column: octgn_id
    uniqueConstraints:
        card_code_idx:
            columns: [ code ]
