<ol>
		{% for pack in data %}
		<li><a {% if pack.available == false %}class="card-preview" title="Not yet released"{% endif %} href="{{ pack.url }}">{{ pack.name }}</a><span> {% if pack.available == false %}({{pack.known}} cards){% endif %}</span></li>
		{% endfor %}
</ol>