{% extends 'AppBundle::layout.html.twig' %}
{% import "AppBundle::macros.html.twig" as macros %}

{% block body %}

<div class="main container">
<h1 class="site-title hidden-xs">MARVELCDB</h1>
<div class="site-slogan">Deckbuilder and Card Database for the Marvel Champions LCG</div>
</div> <!-- .container -->

<style>
	.box {
		margin: 5px;
		background: #fff;
		border: solid rgba(0,0,0,0.2) 1px;
		overflow: hidden;
		border-radius: 10px;
	}

	@media (min-width:992px){
		.right-col {
			margin-left: 5px;
		}
	}


</style>

<div class="main container">
	<div class="row col-lg-4">
		<div style="background-image: linear-gradient(100deg, rgba(159, 159, 159, 0.5) 49.5%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 51%, rgba(200, 200, 200, 0.5) 51.5%, rgba(200, 200, 200, 0.5) 100%); border-radius: 10px; padding: 0.5rem;">
			<header style="display: flex; align-items: center; gap: 1rem; justify-content: space-between; padding: 1rem;">
				<div>
					<h5 style="font-size: 16px; padding: 0;"></h5>
					<h4 style="font-size: 30px; display: flex; align-items: center; gap: 1rem; justify-content: space-between; margin: 0;">
						Popular Decks
					</h4>
				</div>
			</header>
			{% for data in decklists_by_popular %}
				{{ macros.decklist_block(data) }}
			{% endfor %}
		</div>
	</div>

	<div class="row col-lg-4">
		{{ macros.hero_highlight(hero_highlight, hero_highlight_meta, decklists_by_hero) }}
	</div>

	<div class="row col-lg-4">
		<div style="background-image: linear-gradient(100deg, rgba(159, 159, 159, 0.5) 49.5%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 51%, rgba(200, 200, 200, 0.5) 51.5%, rgba(200, 200, 200, 0.5) 100%); border-radius: 10px; padding: 0.5rem;">
			<header style="display: flex; align-items: center; gap: 1rem; justify-content: space-between; padding: 1rem;">
				<div>
					<h5 style="font-size: 16px; padding: 0;"></h5>
					<h4 style="font-size: 30px; display: flex; align-items: center; gap: 1rem; justify-content: space-between; margin: 0;">
						Recent Decks
					</h4>
				</div>
			</header>
			{% for data in decklists_by_recent %}
			{{ macros.decklist_block(data) }}
		{% endfor %}
		</div>
	</div>
</div>

<div class="main container">
	<h3>Recent Pack Releases</h3>
	<ul>
		{% for pack in packs %}
		<li>
			{{pack.name}}
		</li>
		{% endfor %}
	</ul>
</div> <!-- .container -->

<div class="main container">
	<h3>Recent Updates</h3>
	<ul>
		<li>
			Updated the front page to try to better show off more decks. Feedback welcome.
		</li>
		<li>
			Site Created!
		</li>
	</ul>
</div> <!-- .container -->

{% endblock %}

{% block javascripts %}
<script type="application/ld+json">
{
	 "@context": "http://schema.org",
	 "@type": "WebSite",
	 "url": "https://marvelsdb.com/",
	 "potentialAction": {
		 "@type": "SearchAction",
		 "target": "http://marvelsdb.com/find?q={search_term_string}",
		 "query-input": "required name=search_term_string"
	 }
}
</script>
{% endblock %}
