{% extends 'AppBundle::layout.html.twig' %}
{% import "AppBundle::macros.html.twig" as macros %}

{% block body %}

<div class="main container">
<h1 class="site-title hidden-xs">MARVELCDB</h1>
<div class="site-slogan">Deckbuilder and Card Database for the Marvel Champions LCG</div>
</div> <!-- .container -->

<style>
	.box {
		margin: 5px;
		background: #fff;
		overflow: hidden;
		border-radius: 10px;
		box-shadow: 0px 0px 2px 2px rgba(90, 90, 90, 0.2);
	}

	.front-block {
		display: flex;
		align-items: stretch;
		flex-direction: row;
		justify-content: space-between;
		gap: 0.4rem;
	}
	.front-block > div {
		flex: 1;
	}
	@media (max-width:992px){
		.front-block {
			flex-direction: column;
		}
	}

</style>

<div class="main container front-block">
	<div style="background-image: linear-gradient(100deg, rgba(159, 159, 159, 0.5) 49.5%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 51%, rgba(200, 200, 200, 0.5) 51.5%, rgba(200, 200, 200, 0.5) 100%); border-radius: 10px; padding: 0.5rem;">
		<header style="display: flex; align-items: center; gap: 1rem; justify-content: space-between; padding: 1rem;">
			<div>
				<h5 style="font-size: 16px; padding: 0;"></h5>
				<h4 style="font-size: 30px; display: flex; align-items: center; gap: 1rem; justify-content: space-between; margin: 0;">
					Popular Decks
				</h4>
			</div>
		</header>
		{% for data in decklists_by_popular %}
			{{ macros.decklist_block(data) }}
		{% endfor %}
	</div>

	{{ macros.hero_highlight(hero_highlight, hero_highlight_meta, decklists_by_hero) }}

	<div style="background-image: linear-gradient(100deg, rgba(159, 159, 159, 0.5) 49.5%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 51%, rgba(200, 200, 200, 0.5) 51.5%, rgba(200, 200, 200, 0.5) 100%); border-radius: 10px; padding: 0.5rem;">
		<header style="display: flex; align-items: center; gap: 1rem; justify-content: space-between; padding: 1rem;">
			<div>
				<h5 style="font-size: 16px; padding: 0;"></h5>
				<h4 style="font-size: 30px; display: flex; align-items: center; gap: 1rem; justify-content: space-between; margin: 0;">
					Recent Decks
				</h4>
			</div>
		</header>
		{% for data in decklists_by_recent %}
			{{ macros.decklist_block(data) }}
		{% endfor %}
	</div>

</div>

<div class="main container">
	<h3>Recent Pack Releases</h3>
	<ul>
		{% for pack in packs %}
		<li>
			{{pack.name}}
		</li>
		{% endfor %}
	</ul>
</div> <!-- .container -->

<div class="main container">
	<h3>Recent Updates</h3>
	<ul>
		<li>
			Revamped the decklist pages to be quicker and easier to find decks without resorting to advanced searching and hopefully make it much better on mobile.
		</li>
		<li>
			Added a bit of color to the deck view, and hopefully made it nicer to look at a deck on mobile.
		</li>
		<li>
			Updated the front page to try to better show off more decks. Feedback welcome.
		</li>
		<li>
			Site Created!
		</li>
	</ul>
</div> <!-- .container -->

{% endblock %}

{% block javascripts %}
<script type="application/ld+json">
{
	 "@context": "http://schema.org",
	 "@type": "WebSite",
	 "url": "https://marvelsdb.com/",
	 "potentialAction": {
		 "@type": "SearchAction",
		 "target": "http://marvelsdb.com/find?q={search_term_string}",
		 "query-input": "required name=search_term_string"
	 }
}
</script>
{% endblock %}
