{% extends 'AppBundle::layout.html.twig' %}
{% import "AppBundle::macros.html.twig" as macros %}

{% block body %}



<div class="main white container rules-reference">

<h1>Rules</h1>

<p>Get some cards, thwart the villain.</p>

</div>

<script>
var curInnerHTML = document.getElementById("rules").innerHTML;
curInnerHTML = curInnerHTML.replace(/\[(\w+)\]/g, '<span title="$1" class="icon-$1"></span>')
document.getElementById("rules").innerHTML = curInnerHTML;
</script>


{% endblock %}
