{% extends 'AppBundle::layout.html.twig' %}
{% import "AppBundle::macros.html.twig" as macros %}

{% block body %}



<div class="main white container rules-reference">

<h1>Rules Reference</h1>

<h2 id="the_golden_rules">THE GOLDEN RULES</h2>
<p>If the text of this Rules Reference directly contradicts the text of the Learn to Play book, the text of the Rules Reference takes precedence.</p>
<p>If the text of a card directly contradicts the text of either the Rules Reference or the Learn to Play book, the text of the card takes precedence.</p>

<h2 id="the_grim_rule">THE GRIM RULE</h2>
<p>If players are unable to find the answer to a rules or timing conflict in this Rules Reference, resolve the conflict in the manner that the players perceive as the worst possible resolution at that moment with regards to winning the scenario, and continue with the game.</p>

<h2 id="component_limitations">COMPONENT LIMITATIONS</h2>

<p>There is no limit to the number of threat tokens, damage tokens, status cards, or all-purpose counters that can be in the game at a given time. If players run out of the provided tokens, counters, or status cards, other tokens, counters, or coins may be used.</p>

<h2 id="round_overview">ROUND OVERVIEW</h2>

<p>The following is an overview of a game round, and the glossary entries that cover each part of the game round.</p>

<ol>
<li>Player phase begins. See: <a href="#player_phase">Player Phase</a></li>
<li>Each player takes a turn. See: <a href="#player_turn">Player Turn</a></li>
<li>Player phase ends. See: <a href="#end_of_player_phase">End of Player Phase</a></li>
<li>Villain phase begins. See: <a href="#villain_phase">Villain Phase</a></li>
<li>Place threat on main scheme. See: <a href="#main_scheme">Main Scheme</a></li>
<li>Villain and minions activate. See: <a href="#activation">Activation</a>, <a href="#enemy_attacks">Enemy Attacks</a>, <a href="#enemy_schemes">Enemy Schemes</a></li>
<li>Deal encounter cards. See: <a href="#deal">Deal</a></li>
<li>Reveal and resolve encounter cards. See: <a href="#reveal">Reveal</a></li>
<li>Pass the first player token. See: <a href="#first_player">First Player</a></li>
<li>End the round. Proceed to step one of the next game round.</li>
</ol>

<h2 id="glossary">GLOSSARY</h2>
<p>The following is an alphabetical list of entries for game rules, terms, and situations that may occur during play.</p>

<h2 id="ability">ABILITY, CARD ABILITY</h2>
<p>An ability is special game text that a card contributes to the game.</p>

<ul>
<li>Card abilities only interact with cards that are in play, unless the ability specifically refers to an out-of-play area or element.</li>
<li>Card abilities on hero, alter-ego, ally, upgrade, and support cards may only be used if the card is in play, unless the ability specifically refers to being used from an out-of-play state. Event cards implicitly interact with the game from an out-of-play area, as per the rules of the event card type.</li>
<li>An ability can only be initiated if its effect could change the game. Assess this without accounting for the consequences of the cost payment or interaction with other abilities.</li>
<li>When an ability has more than one sentence of text, the ability is resolved one sentence at a time.</li>
<li>An ability prefaced by a bold timing trigger followed by a colon is referred to as a triggered ability. An ability without a bold timing trigger is referred to as a constant ability.</li>
<li>The resolution of the following ability types is mandatory: constant abilities, when revealed abilities, when defeated abilities, forced abilities, boost abilities, and keywords. If one of these ability types uses the word “may,” the part of the ability following the word “may” is optional.</li>
<li>The resolution of the following ability types is optional: action, interrupt, response, resource. The player who controls the card that has an optional ability determines whether or not to use that ability at the appropriate time.</li>
</ul>
<p>See also: <a href="#cancel">Cancel</a>, <a href="#constant_ability">Constant Ability</a>, <a href="#delayed_effects">Delayed Effects</a>, <a href="#in_play_and_out_of_play">In Play and Out of Play</a>, <a href="#initiating_abilities">Initiating Abilities</a>, <a href="#lasting_effects">Lasting Effects</a>, <a href="#qualifiers">Qualifiers</a>, <a href="#replacement_effects">Replacement Effects</a>, <a href="#then">Then</a>, <a href="#triggered_ability">Triggered Ability</a></p>

<h2 id="acceleration_icon">ACCELERATION ICON</h2>
<p>See: <a href="#side_scheme">Side Scheme</a></p>

<h2 id="acceleration_token">ACCELERATION TOKEN</h2>
<p>This token increases the amount of threat placed on the main scheme during step one of the villain phase.</p>
<ul>
<li>If the encounter deck runs out of cards, place one acceleration token on the main scheme.</li>
</ul>
<p>See also: <a href="#empty_encounter_deck">Empty Encounter Deck</a>, <a href="#main_scheme">Main Scheme</a>, <a href="#villain_phase">Villain Phase</a></p>

<h2 id="activation">ACTIVATION</h2>
<p>If the villain attacks or schemes, it is considered an activation.</p>
<ul>
<li>During step two of the villain phase, the villain activates once per player. If the player resolving the activation is in hero form, the villain attacks. If the player resolving the activation is in alter-ego form, the villain schemes.</li>
<li>Some card abilities can also cause the villain to attack or scheme. These are also considered activations.</li>
<li>Each time the villain activates, give the villain one boost card from the encounter deck for that activation.<li>
</ul>
<p>See also: <a href="#boost">Boost</a>, <a href="#enemy_attacks">Enemy Attacks</a>, <a href="#enemy_schemes">Enemy Schemes</a></p>

<h2 id="action">ACTION</h2>
<p>“Action” is a type of triggered ability. Players are permitted to trigger action abilities during their turn, or by request during other players’ turns.</p>
<p>See also: <a href="#ability">Ability</a>, <a href="#player_turn">Player Turn</a>, <a href="#triggered_ability">Triggered Ability</a></p>

<h2 id="active_player">ACTIVE PLAYER</h2>
<p>The player taking their turn during the player phase is the active player.</p>
<p>See also: <a href="#player_turn">Player Turn</a></p>

<h2 id="after">AFTER</h2>
<p>The word “after” refers to a game occurrence that just concluded. Many response abilities use the term “after” to specify the time at which they can be used.</p>

<h2 id="all_purpose_counter">ALL-PURPOSE COUNTER</h2>
<p>All-purpose counters can be used to track a variety of different game states and statuses. They have no inherent rules.Card abilities can create and define a number of different counter types, such as “arrow counters” or “web counters.” If a counter is called for, an all-purpose counter is used to track its presence in the game.See also: Keywords (Uses)</p>
<p>See also: <a href="#response">Response</a></p>

<h2 id="ally">ALLY</h2>
<p>Ally is a player card type that represents a player’s friends, supporters, or companions.</p>
<ul>
<li>If an ally enters play, it remains in play until a card ability or game effect causes it to leave play. If an ally’s remaining hit points are reduced to zero, it is defeated and discarded from play.</li>
<li>During a player’s turn, they may use any number of allies they control to attack or thwart. An ally must exhaust to pay the cost of being used in this way. </li>
<li>After an attack or thwart attempt using an ally resolves, there is often consequential damage that must be dealt to the ally, as indicated beneath the ally’s ATK or THW field. This damage must be dealt directly to the ally.</li>
<li>If a player is attacked, any player may exhaust an ally they control to defend against the attack. If an ally defends against an attack, all damage from the attack is dealt to the ally.</li>
</ul>
<p>See also: <a href="#ally_limit">Ally Limit</a>, <a href="#consequential_damage">Consequential Damage</a>, <a href="#hit_points">Hit Points</a></p>

<h2 id="ally_limit">ALLY LIMIT</h2>
<p>Each player is permitted to control a maximum of three allies in play at any given time. This is referred to as the “ally limit.”</p>

<h2 id="attachment">ATTACHMENT</h2>
<p>Attachment is an encounter card type.When an attachment enters play, it attaches to another card or game element.</p>
<ul>
<li>If an attachment attaches to the villain, it may modify the villain’s ATK and/or SCH values, as indicated by the values in the associated fields on the attachment card.</li>
</ul>
<p>See also: <a href="#attach_to">Attach To</a></p>

<h2 id="attach_to">ATTACH TO</h2>
<p>If a card uses the phrase “attach to,” it must be attached to (placed beneath and slightly overlapped by) the specified game element as it enters play.</p>
<ul>
<li>Once a card is attached, it remains in play until either the element it is attached to leaves play (in which case the attached card is discarded) or an ability or game effect causes the attached card to leave play.</li>
<li>An attached card exhausts and readies independently of the game element it is attached to.</li>
<li>The “attach to” phrase is checked for legality when the card would be attached to a game element, but it is not checked again after it is attached. If the initial “attach to” check does not pass, the card is not able to be attached, so it remains in its prior state or game area. If such a card cannot remain in its prior state or game area, discard it.</li>
</ul>

<h2 id="attack">ATTACK</h2>
<p>Some game effects and card abilities reference an attack. There are a few different ways an attack can occur:</p>
<ul>
	<li>A hero can use their basic attack power to attack an enemy. A hero must exhaust to use this power. This deals damage equal to the hero’s ATK value to the enemy.</li>
	<li>An ally can use its basic attack power to attack an enemy. This deals damage equal to the ally’s ATK value to the enemy.</li>
	<li>If a triggered ability is labeled as an attack—such as “Hero Action (attack)”—resolving that ability is considered to attack the specified target. Unless specified by the ability’s text, a hero does not exhaust when using such an ability.</li>
	<li>Hero and ally attacks can target any enemy, unless a card ability (such as guard) is preventing that enemy from being attacked.</li>
	<li>Enemies can attack during step two of the villain phase.</li>
</ul>
<p>See also: <a href="#enemy_attacks">Enemy Attacks</a></p>

<h2 id="base_value">BASE VALUE</h2>
<p>A defined value before modifiers are applied. In most cases, it is also the printed value.</p>
<p>See also: <a href="#modifiers">Modifiers</a>, <a href="#printed">Printed</a></p>

<h2 id="boost">BOOST</h2>
<p>Each time the villain attacks or schemes, the villain is given one facedown card from the encounter deck, as a boost card</p>
<p>During the activation (and after any defenders are declared if the villain is attacking), all boost cards on the villain are turned face up one at a time. Add the number of boost icons on the card to the villain’s ATK value (if it is attacking) or SCH value (if it is scheming) for that activation. Boost icons are located at the bottom-right of the card</p>
<p>If the boost field has a star icon, it indicates that the card has a boost ability. Refer to the card’s text box and resolve the boost ability when the card is turned face up. The boost ability is located beneath the divider line in the text box.</p>
<ul>
<li>A star icon is not itself considered a boost icon, and does not contribute to the villain’s ATK or SCH value.</li>
<li>Only the ability text beneath the divider line is active on a card that is resolving as a boost card.</li>
<li>If additional boost cards are resolved for an activation, the boost icons are cumulative, and all boost abilities on those cards resolve.</li>
<li>After applying a boost card to an activation, discard it.</li>
</ul>
<p>See also: <a href="#enemy_attacks">Enemy Attacks</a>, <a href="#enemy_schemes">Enemy Schemes</a>, <a href="#star_icon">Star Icon</a></p>

<h2 id="cancel">CANCEL</h2>
<p>Some card abilities can cancel card or game effects.</p>
<ul>
<li>Cancel abilities interrupt the initiation of effects and prevent them from initiating.</li>
<li>Anytime the effects of an ability are canceled, the ability (apart from its effects) is still regarded as initiated, and any costs are still paid. Only the effects are prevented from initiating, and do not resolve.</li>
<li>If the effects of an event card are canceled, the card is still considered played, and it is discarded.</li>
<li>If the effects of a treachery card are canceled, the card is still regarded as revealed, and it is still placed in the encounter discard pile</li>
</ul>
<p>See also: <a href="#ability">Ability</a></p>

<h2 id="cannot">CANNOT</h2>
<p>The word “cannot” is absolute and cannot be countermanded by other abilities or effects.</p>

<h2 id="card_types">CARD TYPES</h2>
<p>The game’s card types are: ally, attachment, environment, event, identity (hero and alter-ego), main scheme, minion, obligation, resource, side scheme, support, treachery, upgrade, and villain.</p>
<ul>
	<li>If an ability causes a card to change its card type, it loses all other card types it might possess and functions as would any card of the new card type.</li>
</ul>
<p></p>

<h2 id="character">CHARACTER</h2>
<p>Heroes, alter-egos, allies, villains, and minions are all characters.</p>

<h2 id="choose">CHOOSE</h2>
<p>The word “choose” indicates that a player must make a choice to resolve an ability.</p>
<ul>
<li>The player resolving the ability that uses the word “choose” is the player who makes the choice specified by the card.</li>
<li>While making such a choice, the player must make a choice that could change the game, if able.</li>
<li>If there is no valid choice for resolving the ability, the ability cannot be initiated</li>
</ul>

<h2 id="confuse">CONFUSE, CONFUSED</h2>
<p>If an ability “confuses” a character, give that character a confused status card.</p>
<p>See also: <a href="#status_cards">Status Cards</a></p>

<h2 id="consequential_damage">CONSEQUENTIAL DAMAGE</h2>
<p>After an ally attacks, it takes consequential damage equal to the number of pips beneath its ATK field. After an ally thwarts, it takes consequential damage equal to the number of pips beneath its THW field.</p>

<h2 id="constant_ability">CONSTANT ABILITY</h2>
<p>A constant ability is any non-keyword ability whose text contains no bold timing trigger defining its ability type. A constant ability becomes active as soon as its card enters play and remains active while the card is in play.</p>
<ul>
<li>Some constant abilities continuously seek a specific condition (denoted by words such as “during,” “if,” or “while”). The effects of such abilities are active anytime the specific condition is met.</li>
<li>If multiple instances of the same constant ability are in play, each instance affects the game independently.</li>
</ul>

<h2 id="control">CONTROL</h2>
<p>See: <a href="#ownership_and_control">Ownership and Control</a></p>

<h2 id="cost">COST</h2>
<p>A card’s resource cost is the numerical value that must be paid to play the card. Some abilities have a cost described in the ability text that must be paid to use the ability.</p>
<ul>
<li>An arrow icon (→) in ability text distinguishes a cost from an effect, in a “pay cost → resolve effect” format.</li>
<li>While paying a cost, a player is permitted to generate resources beyond the specified cost.</li>
<li>Any resources that are generated beyond a required cost are lost after paying the cost.</li>
<li>If multiple costs for a single card or ability require payment, those costs must be paid simultaneously.</li>
<li>An ability’s cost cannot be paid if the resolution of that ability’s effect could not change the game state.</li>
<li>While a player is paying a cost, that player must pay costs with cards and/or game elements they control.</li>
<li>If a cost requires a game element that is not in play, the player paying the cost may only use game elements that are in their own out-of-play areas.</li>
</ul>
<p>See also: <a href="#ability">Ability</a>, <a href="#initiating_abilities">Initiating Abilities</a>, <a href="#keywords">Keywords</a></p>

<h2 id="counter">COUNTER</h2>
<p>See: <a href="#All-Purpose_Counter">All-Purpose Counter</a></p>

<h2 id="crisis_icon">CRISIS ICON</h2>
<p>See: <a href="#side_scheme">Side Scheme</a></p>

<h2 id="damage">DAMAGE</h2>
<p>Damage reduces a character’s hit points. If a character has zero or fewer remaining hit points, it is defeated.</p>
<ul>
<li>Damage on a hero/alter-ego or villain is tracked on a hit point dial. If such a character is damaged, reduce its dial by the amount of damage that it took.</li>
<li>Damage on an ally or minion is tracked by damage tokens. If such a character is damaged, place the specified value of damage tokens on the character.</li>
</ul>
<p>See also: <a href="#defeat">Defeat</a>, <a href="#hit_points">Hit Points</a>, <a href="#indirect_damage">Indirect Damage</a>, <a href="#move">Move</a>, <a href="#prevent">Prevent</a></p>

<h2 id="dash">DASH</h2>
<p>If a character’s power (ATK, THW, REC, etc.) has a dash (–) as the value, the character cannot exhaust to use that power.</p>

<h2 id="deal">DEAL, DEAL AN ENCOUNTER CARD</h2>
<p>During step three of the villain phase, each player is dealt one facedown encounter card.If a card ability instructs a player to be dealt an encounter card, the player takes the top card of the encounter deck and places it facedown in front of them. This card is not revealed at this time. This card is added to the queue of cards that player resolves during the villain phase.</p>
<ul>
<li>If a player is dealt an encounter card during step three or four of the villain phase, the extra encounter card is added to the queue of cards that are being dealt and revealed in those same steps.</li>
</ul>
<p>See also: <a href="#villain_phase">Villain Phase</a></p>


<h2 id="defeat">DEFEAT</h2>
If a character has zero or fewer remaining hit points, or if a side scheme has no threat on it, it is defeated.
<ul>
<li>If a card is defeated, it is discarded.</li>
</ul>
<p>See also: <a href="#hit_points">Hit Points</a>, <a href="#player_elimination">Player Elimination</a>, <a href="#villain_defeat">Villain Defeat</a></p>

<h2 id="defend">DEFEND, DEFENSE</h2>
<p>Some game effects and card abilities reference defense. There are a few different ways a defense can occur:</p>
<ul>
<li>A hero can use their basic defense power to defend against an attack. A hero must exhaust to use this power. The amount of damage dealt by the attack is reduced by the hero’s DEF value, and any remaining damage is dealt to the defending hero.</li>
<li>An ally can exhaust to defend against an attack. Damage from the attack is dealt to the ally.</li>
<li>If a triggered ability is labeled as a defense—such as “Hero Interrupt (defense)”—resolving that ability is considered a defense. Unless specified by the ability’s text, a hero does not exhaust when using such an ability. </li>
<li>If a player defends an attack (against another player) with a card they control, that player becomes the new target of the attack.</li>
</ul>

<h2 id="delayed_effect">DELAYED EFFECTS</h2>
<p>Some abilities contain delayed effects. Such abilities specify a future timing point, or indicate a future condition that may arise, and dictate an effect that is to happen at that time.</p>
<ul>
<li>Delayed effects resolve automatically and immediately after their specified timing point or future condition occurs or becomes true, and before responses to that point or condition may be used.</li>
<li>When a delayed effect resolves, it is not treated as a new triggered ability, even if the delayed effect was originally created by a triggered ability.</li>
</ul>

<h2 id="drawing_cards">DRAWING CARDS</h2>
<p>If a player is instructed to draw one or more cards, those cards are drawn from the top of their deck.</p><p>If a player draws two or more cards as the result of a single game step or card ability, those cards are drawn simultaneously.</p><p>Drawn cards are added to a player’s hand.Each player’s hand size is checked at the end of the player phase. If a player has more cards in their hand than their hand size value at this time, they must choose and discard cards from hand until they are at their hand size.</p>

<h2 id="effect">EFFECT</h2>
<p>See: <a href="#ability">Ability</a>, <a href="#cost">Cost</a></p>

<h2 id="empty_encounter_deck">EMPTY ENCOUNTER DECK</h2>

<p>If the encounter deck runs out of cards, the encounter discard pile is immediately shuffled to create a new encounter deck. An acceleration token is placed next to the scheme deck. This token places an additional threat on the main scheme each round, during step one of the villain phase.</p>
<ul>
<li>If all cards from the encounter deck are discarded while an ability is looking for a specified card, the ability fails to find the card, the deck reshuffles, an acceleration token is placed, and the game continues. No cards are discarded from the newly shuffled deck.</li>
</ul>
<p>See also: <a href="#acceleration_token">Acceleration Token</a></p>

<h2 id="empty_player_deck">EMPTY PLAYER DECK</h2>
<p>If a player deck runs out of cards, the player shuffles their discard pile to make a new deck. That player immediately deals themself one card from the encounter deck.</p><p>If the player’s draw deck empties and reshuffles while the player was drawing cards, the player continues to draw cards up to the specified number. If this happened while the player was discarding cards from their deck, no cards are discarded from the newly shuffled deck.</p>
<p>See also: <a href="#deal">Deal</a></p>

<h2 id="end_of_player_phase">END OF PLAYER PHASE</h2>
<p>To end the player phase, perform the following steps:</p>
<ol>
<li>In player order, each player may discard any number of cards from their hand, and must discard down to their hand size if they have more cards than their hand size.</li>
<li>Each player simultaneously draws up to their hand size</li>
<li>Each player simultaneously readies all of their cards.</li>
</ol>

<h2 id="enemy">ENEMY</h2>
An enemy is a minion or villain.When used as a descriptor, “enemy” refers to game elements that belong to the scenario: “enemy cards,” “enemy abilities,” etc.

<h2 id="enemy_attacks">ENEMY ATTACKS</h2>
<p>To resolve an enemy attack, follow these steps:</p>
<ol>
	<li>If a villain is attacking, give it one facedown boost card from the encounter deck. (If a minion is attacking, skip this step.)</li>
	<li>If a player wishes to defend, that player exhausts a hero or ally as the defender. If a player other than the target player defends, the defending player becomes the target player for this attack.</li>
	<li>If a villain is attacking, flip each of the villain’s boost cards faceup one at a time, and increase the villain’s ATK value by one for each boost icon on the card. Resolve any boost effects, indicated by the star icon in the boost field, after the card is flipped faceup. Discard each boost card after it is resolved. (If a minion is attacking, skip this step.)</li>
	<li>Deal damage from the attack equal to the attacking villain or minion’s modified ATK value, based on the following:
		<ul>
		<li>If a hero defends the attack, the amount of damage dealt is reduced by that hero’s DEF value, and the remaining damage from the attack is dealt to that hero.</li>
		<li>If an ally defends the attack, all damage from the attack is dealt to the ally. (If the ally is defeated by the attack, additional damage does not carry over to the hero.)</li>
		<li>If no character defends the attack, the attack is considered undefended. All damage from the attack is dealt to the hero that is resolving this activation.</li>
		</ul>
	</li>
</ol>
<p>See also: <a href="#activation">Activation</a>, <a href="#boost">Boost</a>, <a href="#defend">Defend</a>, <a href="#villain_phase">Villain Phase</a></p>

<h2 id="enemy_schemes">ENEMY SCHEMES</h2>
<p>If an enemy is instructed to scheme, follow these steps:</p>
<ol>
	<li>If a villain is scheming, give it one facedown boost card from the encounter deck. (If a minion is scheming, skip this step.)</li>
	<li>If a villain is scheming, flip each of the villain’s boost cards faceup one at a time, and increase the villain’s SCH value by one for each boost icon on the card. Resolve any boost effects, indicated by the star icon in the boost field, after the card is flipped faceup. Discard each boost card after it is resolved. (If a minion is scheming, skip this step.)</li>
	<li>Place threat on the main scheme equal to the scheming villain or minion’s modified SCH value.</li>
</ol>
<p>See also: <a href="#activation">Activation</a>, <a href="#boost">Boost</a>, <a href="#villain_phase">Villain Phase</a></p>

<h2 id="engaged">ENGAGED</h2>
<p>If a minion enters play, it engages a player, and is placed in front of that player’s play area.Unless otherwise specified by the minion or by the effect that put the minion into play, the minion engages the player who is resolving the current encounter card.</p>
<ul>
<li>An engaged minion remains engaged with the same player until it is defeated, removed from play, or a card ability causes it to engage another player.</p>
</ul>

<h2 id="enters_play">ENTERS PLAY</h2>
<p>The phrase “enters play” refers to any time when a card transitions from an out-of-play area into play. Playing a card, putting a card into play by using a card ability, or revealing a card from the encounter deck are all different means by which a card may enter play.</p>
<p>See also: <a href="#play">Play</a>, <a href="#put_into_play">Put Into Play</a>, <a href="#reveal">Reveal</a></p>

<h2 id="environment">ENVIRONMENT</h2>
<p>Environment is an encounter card type that creates an overarching rule or set of rules for the scenario. An environment card enters play next to the villain, and is active so long as it remains in play.</p>
<ul>
<li>If an environment enters play, it remains in play until a card ability or game effect causes it to leave play.</li>
</ul>

<h2 id="event">EVENT</h2>
<p>Event is a player card type that is generally played for an instantaneous effect.Each time a player plays an event card, its costs are paid, its effects resolve (or are canceled), and the card is placed in its owner’s discard pile after those effects resolve (or are canceled).</p>
<ul>
<li>If the effects of an event are canceled, the card is still considered to have been played, and its costs remain paid. Only the effects are canceled.</li>
<li>Playing an event card from hand is always optional for a player, unless the event uses the word “must” in its play instructions.</li>
<li>An event card cannot be played unless the resolution of its effect (ignoring costs) could change the game.</li>
</ul>

<h2 id="exhausted">EXHAUSTED</h2>
<p>If a card is exhausted, it is rotated 90 degrees.</p>
<ul>
<li>An exhausted card cannot be exhausted again until it is ready. Cards are typically readied by a game step or card ability.</li>
<li>A card ability on an exhausted card is active and can still interact with the game state. However, if an exhausted card must exhaust to pay the cost of using its ability, that ability cannot be used until the card is ready.</li>
</ul>
<p>See also: <a href="#ready">Ready</a></p>

<h2 id="first_player">FIRST PLAYER</h2>
<p>A first player is determined by the players at the beginning of the game.</p><p> The first player token is used to indicate which player is the first player.</p><p> At the end of the round (during step five of the villain phase) the first player token passes to the next clockwise player, who becomes first player for the next round.</p><p>If the first player is eliminated, the first player token immediately passes clockwise to the next player.</p><p>The players as a group are encouraged to work together, but the first player decides the following:</p>
<ul>
<li>If an encounter card targets a specific player or card, and there are multiple eligible targets, the first player selects among the eligible options.</li>
<li>If two or more effects would resolve simultaneously, the first player decides the order in which to resolve them.The first player has timing priority in the following situations:</li>
<li>The first player has the first opportunity to use an interrupt at each appropriate game moment. Interrupt opportunities then proceed among the remaining players in player order.</li>
<li>The first player has the first opportunity to use a response at each appropriate game moment. Response opportunities then proceed among the remaining players in player order.</li>
</ul>
<p>See also: <a href="#in_player_order">In Player Order</a></p>

<h2 id="forced">FORCED</h2>
<p>Forced is a bold trigger word. If the word “Forced” precedes a triggered ability, the ability’s initiation is mandatory.</p>
<ul>
<li>For any given triggering condition, forced interrupts take priority and initiate before non-forced interrupts, and forced responses take priority and initiate before non-forced responses.</li>
<li>If two or more forced abilities would initiate at the same moment, the first player determines the order in which the abilities initiate, regardless of who controls the cards bearing those abilities.</li>
<li>Each forced ability must resolve as completely as possible before the next forced ability being triggered by the same triggering condition may initiate.See also: Triggered Ability</li>
</ul>

<h2 id="form">FORM, CHANGE FORM</h2>
<p>A player can be in either hero or alter-ego form at a given time. This is indicated by the player’s identity card.</p>
<ul>
<li>Once each round, during their turn, each player is permitted to change form by flipping their identity card.</li>
<li>When a player changes form, only the form changes. The character retains their sustained damage, status cards, lasting effects, attachments, tokens, and current state (ready or exhausted).</li>
<li>If a card ability causes a player to change forms, it does not count against the one voluntary form change the player is permitted during their turn that round.</li>
<li>While a player is in hero form, card abilities that interact with their alter-ego do not interact with their identity.</li>
<li>While a player is in alter-ego form, card abilities that interact with their hero do not interact with their identity.</li>
</ul>
<p>See also: <a href="#identity">Identity</a></p>

<h2 id="friendly">FRIENDLY</h2>
<p>Friendly is a blanket term that refers to cards the players control.</p>

<h2 id="gains">GAINS</h2>
<p>If a card gains a characteristic (such as a trait, keyword, or ability text), the card functions as if it possesses the gained characteristic. Gained characteristics are not considered to be printed on the card.</p>

<h2 id="generate">GENERATE</h2>
<p>See: <a href="#resource">Resource</a></p>

<h2 id="gets">GETS</h2>
<p>If a card ability causes a character to “get” a statistic (such as +1 ATK or 4 hit points), the ability modifies the character’s statistic while it is active.</p>
<ul>
<li>If such an ability expires or otherwise becomes inactive, the modified statistic reverts to the value it would have without the modifier.</li>
<li>If such an ability causes a character to get hit points, it modifies the character’s remaining hit points while the ability remains active, and also modifies the character’s maximum hit points while the ability remains active.</li>
</ul>

<h2 id="guard">GUARD</h2>
<p>While any minions with this keyword are engaged with a player, that player cannot attack villains without this keyword.</p>

<h2 id="hand_size">HAND SIZE</h2>
<p>Each player checks their hand size at the end of the player phase, either discarding down to or drawing up to the number of cards indicated by their hand size value.</p>
<p>See also: <a href="#end_of_player_phase">End of Player Phase</a></p>

<h2 id="hazard_icon">HAZARD ICON</h2>
<p>See: <a href="#side_scheme">Side Scheme</a></p>

<h2 id="heal">HEAL</h2>
<p>If an ability heals a character, damage the character has sustained can be removed from the character.</p>
<ul>
<li>A heal effect can only bring a character to its maximum hit points, unless the effect explictly states it can bring the character above its maximum.</li>
</ul>
<p>See also: <a href="#gets">Gets</a>, <a href="#hit_points">Hit Points</a></p>

<h2 id="hit_points">HIT POINTS</h2>
<p>Each character (hero/alter-ego, ally, minion, and villain) has a hit point value. Hit points represent the durability of that character.</p>
<ul>
<li>If a hero/alter-ego or villain is damaged, apply the damage by reducing its hit point dial by the specified amount.
<li>If a player’s hit point dial is reduced to zero, that player has been defeated and is eliminated from the game. (See Player Elimination.)
<li>If a villain’s hit point dial is reduced to zero, that stage of the villain has been defeated. (See Villain Defeat.)
<li>If a minion or ally is damaged, track the damage by placing damage tokens on the card. Damage tokens on a card reduce the card’s remaining hit points by the total value of the tokens. An ally or minion with zero or fewer remaining hit points is defeated and placed in the appropriate discard pile. (See Defeat.)
</ul>
<p>See also: <a href="#damage">Damage</a>, <a href="#gets">Gets</a>, <a href="#heal">Heal</a>, <a href="#maximum_hit_points">Maximum Hit Points</a>, <a href="#remaining_hit_points">Remaining Hit Points</a>, <a href="#sustained_damage">Sustained Damage</a></p>

<h2 id="identity">IDENTITY</h2>
<p>Identity is a player card type that represents which character a player is playing in the game.A player’s identity card is a double-sided card that represents their hero on one side and their alter-ego on the other. The side that is face up indicates the form (hero or alter-ego) that player is currently in.</p>
<ul>
<li>Each player begins the game in alter-ego form.
<li>If a card refers to a hero or alter-ego by title, it refers only to the identity with that title, and not to the other side of the card.
</ul>
<p>See also: <a href="#form">Form</a></p>

<h2 id="in_play_and_out_of_play">IN PLAY AND OUT OF PLAY</h2>
<p>Non-event cards that have been played or put into play are “in play” until a card ability or other game effect removes them from play. The top card of the villain deck and the top card of the main scheme deck are also in play.Cards in a player’s hand, deck, and discard pile, as well as cards in the encounter deck, encounter discard pile, and unrevealed cards in the villain deck and the main scheme deck are out of play. Any cards that have been removed from the game or that have been set aside are also out of play.</p>
<ul>
<li>A card enters play when it moves from an out-of-play area to a play area.
<li>A card leaves play when it moves from a play area to an out-of-play area.
<li>Card abilities only interact with, and can only target, cards that are in play, unless the ability text specifically refers to an out-of-play area. 
<li>Card abilities on all card types except event cards and treachery cards can only be initiated or affect the game while they are in play unless they specifically refer to being used from an out-of-play area. 
<li>Event cards and treachery cards implicitly resolve from an out-of-play area, by virtue of the rules pertaining to those card types.
</ul>
<p>See also: <a href="#enters_play">Enters Play</a>, <a href="#play">Play</a>, <a href="#play_restrictions_and_permissions">Play Restrictions and Permissions</a>, <a href="#put_into_play">Put Into Play</a></p>

<h2 id="in_player_order">IN PLAYER ORDER</h2>
<p>If players are instructed to perform a sequence “in player order,” the first player performs their part of the sequence first, followed by the other players in clockwise order.</p>
<ul>
<li>If a sequence performed in player order does not conclude after each player has performed their part of the sequence once, the sequence of opportunities continues in a clockwise manner until it is complete.
<li>The phrase “next player” always refers to the next (clockwise) player in player order.
</ul>
<p>See also: <a href="#first_player">First Player</a></p>

<h2 id="indrect_damage">INDIRECT DAMAGE</h2>
<p>Some card abilities may deal “indirect damage.”Indirect damage dealt to a player or group of players must be split among all characters that the specified player(s) control(s). While assigning indirect damage, a character cannot be assigned more indirect damage than would cause it to be defeated.</p>

<h2 id="initating_abilities">INITIATING ABILITIES, PLAYING CARDS</h2>
<p>When a player wishes to play a card or initiate a triggered ability, that player first declares their intent. Then, the player checks the following conditions in order:</p>
<ul>
<li>Check play restrictions: can the card be played, or the ability initiated, at this time? (This includes verifying that the resolution of the effect could change the game.)</li>
<li>Determine the cost (or costs) to play the card or initiate the ability, taking modifiers into account.</li>
</ul>
<p>If both conditions are met, follow these steps in order:</p>

<ol>
<li>Apply any modifiers to the cost(s).</li>
<li>Pay the cost(s). If this step is reached and the cost(s) cannot be paid, abort this process without paying any costs.</li>
<li>Make all “choose” decisions required to resolve the card.</li>
<li>The card commences being played, or the effects of the ability attempt to initiate.</li>
<li>The card is played or the ability (if not canceled in step six) resolves. The card enters play or, if it is an event card, its effects resolve and it is then placed in its owner’s discard pile.</li>
</ol>

<ul>
<li>If any of the above steps would make the triggering condition of an interrupt ability true, that ability may be initiated just before that triggering condition becomes true.
<li>If any of the above steps would make the triggering condition of a response ability true, that ability may be initiated immediately after that triggering condition becomes true.
<li>If the ability being initiated is on a card that is in play, the sequence does not stop from completing if that card leaves play during this sequence unless the card leaving play prevents a required cost from being paid.
</ul>
<p>See also: Ability, Cost, Play Restrictions and Permissions</p>

<h2 id="interrupt">INTERRUPT</h2>
<p>An interrupt ability is a type of triggered ability, indicated by the bold <b>“Interrupt”</b> timing trigger. Interrupt abilities may be executed anytime the specified triggering condition occurs, as described in the interrupt’s ability text. The interrupt ability interrupts the resolution of the specified triggering condition, and resolves immediately before that triggering condition resolves.</p>
<ul>
<li>Multiple interrupts may be triggered by the same triggering condition.</li>
<li>An interrupt ability is executed when its triggering condition becomes imminent, but before that triggering condition resolves. Opportunities to interrupt occur in player order until all players have passed consecutively.</li>
<li>Once all players have consecutively passed on the opportunity to interrupt an imminent triggering condition, further interrupts to that specific triggering condition cannot be used.</li>
<li>If an interrupt changes (via a replacement effect) or cancels an imminent triggering condition, further interrupts to the original triggering condition cannot be triggered.</li>
</ul>
<p>See also: <a href="#cancel">Cancel</a>, <a href="#replacement_effects">Replacement Effects</a>, <a href="#triggered_ability">Triggered Ability</a></p>

<h2 id="keywords">KEYWORDS</h2>
<p>A keyword is an attribute that conveys specific rules to its card. </p>
<p>The following keywords are used in the game: <a href="#guard">Guard</a>, <a href="#overkill">Overkill</a>, <a href="#quickstrike">Quickstrike</a>, <a href="#peril">Peril</a>, <a href="#restricted">Restricted</a>, <a href="#retaliate">Retaliate</a> X, <a href="#surge">Surge</a>, <a href="#toughness">Toughness</a>, <a href="#uses">Uses</a></li>

<h2 id="lasting_effects">LASTING EFFECTS</h2>
<p>Some card abilities create effects or conditions that affect the game for a specified duration (such as “until the end of the phase” or “until the end of this attack”). Such effects are known as lasting effects.</p>
<p>For the specified duration of a lasting effect, treat the effect as if it was a constant ability.</p>
<ul>
<li>A lasting effect persists beyond the resolution of the ability that created it, for the duration specified by the effect. The effect continues to affect the game for the specified duration whether or not the card that created the lasting effect is in play.</li>
<li>If a card enters play (or changes status to meet the criteria of a specified set of affected cards) after the creation of a lasting effect, it is still affected by that lasting effect.</li>
<li>A lasting effect expires as soon as the timing point specified by its duration is reached. This means that an “until the end of the round” lasting effect expires just before an “at the end of the round” ability or delayed effect may initiate.</li>
<li>A lasting effect that expires at the end of a specified time period can only be initiated during that time period.</li>
</ul>

<h2 id="limit">LIMIT</h2>
<p>“Limit X per [period]” is a limit that appears on some player cards. These limits are card-specific. Each copy of an ability with such a limit may be used X times per the specified period, per instance of that ability.</p>
<ul>
<li>If an effect with a limit is canceled, the card is still considered to have been played or the ability initiated, and it counts toward the limit.</li>
</ul>

<h2 id="main_scheme">MAIN SCHEME</h2>
<p>Main scheme is an encounter card type. The main scheme represents the villain’s primary objective.</p>
<p>If the amount of threat on a main scheme is equal to or greater than its target threat value, the scheme deck advances. Remove the scheme from the game, and advance to the next stage of the main scheme deck.</p>
<p><b>If the villain completes the final stage of the main scheme deck, the villain wins the game.</b></p>
<ul>
<li>During step one of the villain phase, place the amount of threat indicated in the main scheme’s acceleration field (bottom-right corner) on that scheme. This value is modified by all active acceleration tokens and icons.</li>
<li>When the main scheme deck advances, excess threat from the previous stage does not carry over to the new stage.</li>
<li>When the main scheme deck advances, acceleration tokens on it carry over to the new stage.</li>
</ul>

<h2 id="max">MAX</h2>
<p>“Max X per [period]” imposes a maximum across all copies of a card (by title) for all players. Generally, this phrase imposes a maximum number of times that copies of that card can be played during the designated time period.</p>
<p>If a maximum appears as part of an ability, it imposes a maximum number of times that the ability can be initiated from all copies (by title) of cards bearing that ability (including itself) during the designated period.</p>
<ul>
<li>If an effect with a maximum is canceled, the card is still counted toward the maximum.</li>
</ul>
<p>“Max X per deck” is restricts the number of copies of that card that may be included in each player deck.</p>
<p>“Max 1 per player” is player specific, and restricts the number of copies of that card that each player may control in play at a given time.</p>
<p>See also: Appendix I: Deck Customization</p>

<h2 id="maximum_hit_points">MAXIMUM HIT POINTS</h2>
<p>A character’s maximum hit points is their base hit points plus or minus all “gets” hit point modifiers that are active on that character.</p>
<p>See also: <a href="#base_value">Base Value</a>, <a href="#gets">Gets</a>, <a href="#hit_points">Hit Points</a></p>

<h2 id="may">MAY</h2>
<p>The word “may” indicates that a specified player has the option to resolve the text that follows. If no player is specified, the option is granted to the controller of the card with the ability in question.</p>

<h2 id="minion">MINION</h2>
<p>Minion is an encounter card type. Minions represent supporters of the villain and/or enemies of the heroes.</p>
<p>If a minion enters play, it engages the player who is revealing the card from the encounter deck or resolving the ability that put the minion into play, unless an ability specifies otherwise.</p>
<ul>
<li>If a minion enters play, it remains in play until a card ability or game effect causes it to leave play.</li>
<li>If a minion has zero or fewer remaining hit points, it is defeated and discarded.</li>
<li>Minions engaged with a player activate (one minion at a time) during step two of the villain phase, after the villain activates. If the engaged player is in hero form, these minions attack. If the engaged player is in alter-ego form, these minions scheme.</li>
</ul>
<p>See also: <a href="#engaged">Engaged</a></p>

<h2 id="modifers">MODIFIERS</h2>
<p>The game constantly checks and (if necessary) updates the count of any variable quantity that is being modified.</p>
<p>Anytime a new modifier is applied or removed, the entire quantity is recalculated from the start, considering the unmodified base value and all active modifiers.</p>
<ul>
<li>The calculation of a value treats all modifiers as being applied simultaneously. However, while performing the calculation, all additive and subtractive modifiers are calculated before doubling and/or halving modifiers are calculated.</li>
<li>If a value is “set” to a specific number, the set modifier overrides all non-set modifiers. If multiple set modifiers are in conflict, the most recently resolved set modifier takes precedence.</li>
<li>After all active modifiers have been taken into account, if a value is below zero, it is treated as zero: a card cannot have “negative” icons, attributes, traits, cost, or keywords.</li>
<li>Fractional values are rounded up after all modifiers have been applied.</li>
</ul>
<p>See also: <a href="#base_value">Base Value</a>, <a href="#printed">Printed</a></p>

<h2 id="move">MOVE</h2>
<p>Some abilities allow players to move game elements, such as cards, damage, or threat.</p>
<ul>
<li>When an element moves, it cannot move to its same (current) placement. </li>
<li>If there is no valid source or destination for a move, the move cannot be made.</li>
<li>It is possible for damage to move between dials and cards (and vice versa).</li>
<li>If damage is moved from a dial to a card, increase the hit points tracked by the dial by the specified amount (no higher than the card’s maximum hit points), and place the same amount of damage on the card.</li>
<li>If damage is moved from a card to a dial, remove damage from the card and reduce the dial by the same amount.</li>
<li>If damage is moved to a character, the moved damage is considered to be dealt to that character.</li>
<li>If threat is moved to a scheme, the moved threat is considered to be placed to that scheme.</li>
</ul>

<h2 id="nemesis">NEMESIS</h2>
<p>Each hero in the game comes with an associated nemesis set. During each scenario, this set might be put into play.</p>
<p>At the start of the game, each player sets aside the cards from their associated nemesis set, out of play. Cards drawn from the encounter deck may instruct the player on how to bring their nemesis set into play.</p>
<p>See also: <a href="#keywords">Keywords</a></p>

<h2 id="obligation">OBLIGATION</h2>
<p>Obligation is an encounter card type that represents a commitment or obstacle that an identities alter-ego might have to face or overcome.</p>
<p>Each hero is associated with one (or more) obligation cards. If a hero is being played, all of that hero’s associated obligation cards are shuffled into the encounter deck during setup.</p>
<p>If an obligation card is revealed from the encounter deck, it is given to the player who controls its associated hero. That player must decide how to resolve the obligation.</p>
<ul>
<li>If the hero associated with a revealed obligation card has been eliminated, ignore the card’s ability, remove it from the game, and reveal an additional encounter card.</li>
<li>If a revealed obligation card does not have an associated hero, the player who revealed the card chooses how to resolve the obligation.</li>
</ul>

<h2 id="overkill">OVERKILL</h2>
<p>If an ally is used to defend against an attack with overkill, any excess damage from the attack (damage beyond the ally’s remaining hit points) is dealt to the hero of the player controlling the ally, if able.</p>
<p>If an attack with overkill defeats a minion, excess damage from the attack (damage beyond the minion’s remaining hit points) is dealt to the villain.</p>

<h2 id="ownership_and_control">OWNERSHIP AND CONTROL</h2>
<p>A card’s owner is the player whose deck contained the card at the start of the game. The scenario is considered to be the owner of the encounter deck and each encounter card.</p>
<ul>
<li>Cards enter play under their owner’s control. Encounter cards are considered to be under the control of the scenario.</li>
<li>Control of a card remains constant unless an ability explicitly causes the card to change control.</li>
<li>A player controls the cards in their own out-of-play areas (such as the hand, the deck, and the discard pile).</li>
<li>If a card that has changed control leaves play, after the resolution of the game occurrence that makes it leave play, the card is physically placed in its owner’s equivalent out-of-play area (hand, deck, or discard pile). Other card abilities cannot interact with this secondary physical placement.</li>
<li>If a character changes control while it is in play, it remains in the same state (i.e., readied or exhausted, damaged or not, etc.) and is moved to its new controller’s play area</li>
<li>Upgrades or attachments on a card that changes control also change control to the same new controller.</li>
<li>Unless a duration is specified, a control change persists as long as the card remains in play</li>
</ul>

<h2 id="per_player">PER PLAYER</h2>
<p>The 8 icon next to a value multiplies that value by the number of players who started the scenario.</p>
<ul>
<li>If a player is eliminated, this value does not change.</li>
</ul>

<h2 id="peril">PERIL</h2>
<p>While a player is resolving a card with this keyword, that player cannot consult other players, and other players cannot play cards or trigger abilities.</p>

<h2 id="play">PLAY, PUT INTO PLAY</h2>
<p>Playing a card involves paying the card’s cost and placing the card in the play area. This causes the card to enter play (or, in the case of an event card, to resolve its ability and be placed in the discard pile). Cards are played from a player’s hand.</p>
<p>Some abilities cause cards to be put into play. This bypasses the need to pay the card’s cost as well as any restrictions or prohibitions regarding playing that card. A card that is put into play enters play in its controller’s play area.</p>
<ul>
<li>When an event card is played, place it on the table, resolve its ability, and place the card in its owner’s discard pile</li>
<li>A card that is put into play is not considered to have been played.</li>
<li>When a card is put into play, its resource cost is ignored.</li>
<li>Unless otherwise instructed by the “put into play” effect, cards that are put into play must do so in a play area or state that matches the rules of playing the card</li>
</ul>
<p>See also: <a href="#enters_play">Enters Play</a>, <a href="#in_play_and_out_of_play">In Play and Out of Play</a>, <a href="#play_restrictions_and_permissions">Play Restrictions and Permissions</a></p>

<h2 id="play_restrictions_and_permissions">PLAY RESTRICTIONS AND PERMISSIONS</h2>
<p>Many cards and abilities contain specific instructions pertaining to when or how they may or may not be used, or to specific conditions that must be true in order to use them.</p>
<ul>
<li>In order to use an ability or play a card, all of its play restrictions must be observed</li>
<li>A permission is an optional play restriction, which allows a player to play a card or use an ability outside the timing or specifications provided by the game rules. For example, a permission might allow an ally card to be played from a player’s discard pile</li>
</ul>

<h2 id="player_elimination">PLAYER ELIMINATION</h2>
<p>A player is eliminated from the game if their hero/alter-ego is defeated. This usually occurs when the character’s remaining hit points are reduced to zero.</p>
<ul>
<li>When a player is eliminated, that player’s hand, all of the cards they control, and their deck are placed in their owners’ discard piles. Encounter cards dealt to the player are discarded.  Any enemies engaged with that player engage the next clockwise player, retaining any damage, counters, and status cards on them.</li>
<li>When a player is eliminated, the remaining players continue to play the game. Eliminated players are considered to win or lose along with the rest of the group, depending on how they finish.</li>
<li>If a player is eliminated partway through the resolution of an ability, resolve the entire ability.</li>
<li>If all players are eliminated, the game ends and the players lose.</li>
</ul>

<h2 id="player_phase">PLAYER PHASE</h2>
<p>During the player phase, each player (in player order) takes one turn.</p>
<p>After each player has taken a turn, the players discard down or draw up to their hand size and ready all cards they control.</p>
<p>See also: End of <a href="#player_phase">Player Phase</a>, <a href="#in_player_order">In Player Order</a>, <a href="#player_turn">Player Turn</a></p>

<h2 id="player_turn">PLAYER TURN</h2>
<p>During their turn, a player may perform the following options, in any order. Each option (except “change form”) may be performed as many times as the player is able, so long as they are able to pay the required costs.</p>
<ul>
<li>Change form from hero to alter-ego, or from alter-ego to hero. This option may only be performed once each turn.</li>
<li>Play an ally, upgrade, or support card from their hand.</li>
<li>Use their alter-ego’s basic recovery (if in alter-ego form) or their hero’s basic attack or thwart power (if in hero form).</li>
<li> Use an ally card they control in play to attack an enemy or thwart a scheme.</li>
<li>Trigger an “Action” card ability on a card in play they control, on an encounter card in play, or by playing an event card with such a timing trigger from their hand. If the action ability is preceded by “Hero” or “Alter-Ego,” the player must be in the specified form in order to trigger the ability.</li>
<li>Ask another player to trigger an “Action” ability on a card in play they control or on an event card they might have in hand. The other player then decides whether or not to trigger the ability. (Another player may offer to use an action during the active player’s turn, as well.)</li>
</ul>

<h2 id="prevent">PREVENT</h2>
<p>Some card abilities prevent damage or threat.</p>
<ul>
<li>When damage is prevented, reduce the amount of damage being dealt before it is applied to the target.</li>
<li>When threat is prevented, reduce the amount of threat being assigned before it is placed on the scheme.</li>
</ul>

<h2 id="printed">PRINTED</h2>
<p>The word “printed” refers to the text, characteristic, or value that is physically printed on the card.</p>
<p>See also: <a href="#base_value">Base Value</a>, <a href="#modifiers">Modifiers</a></p>

<h2 id="qualifiers">QUALIFIERS</h2>
<p>If ability text includes a qualifier followed by multiple terms, the qualifier applies to each item in the list, if applicable. For example, in the phrase “each ready character and attachment” the word “ready” applies to both “character” and “attachment.”</p>

<h2 id="quickstrike">QUICKSTRIKE</h2>
<p>After this enemy engages a player, it immediately attacks that player if they are in hero form.</p>

<h2 id="ready">READY</h2>
<p>Cards enter play in a ready state, positioned so that their controller can read their text from left to right.</p>
<ul>
<li>If a player is instructed to ready an exhausted card, the card is returned to its ready state.</li>
</ul>
<p>See also: <a href="#enters_play">Enters Play</a>, <a href="#exhausted">Exhausted</a></p>

<h2 id="recover">RECOVER</h2>
<p>Recover is a basic power a player can use in alter-ego form. To recover, the player exhausts their alter-ego and heals a number of hit points equal to their REC value.</p>
<p>See also: <a href="#heal">Heal</a></p>

<h2 id="remaining_hit_points">REMAINING HIT POINTS</h2>
<p>When damage is dealt to a character, it reduces the character’s remaining hit points.</p>
<p>A hero or villain’s remaining hit points are the value on the dial.</p>
<p>If a card references an ally’s or minion’s “remaining hit points,” subtract the amount of damage on the card from the card’s maximum hit points to determine how many hit points the card has remaining.</p>
<p>If a card has zero (or fewer) remaining hit points, the card is defeated.</p>
<p>See also: <a href="#damage">Damage</a>, <a href="#defeat">Defeat</a>, <a href="#gets">Gets</a>, <a href="#hit_points">Hit Points</a>, <a href="#modifiers">Modifiers</a>, <a href="#player_elimination">Player Elimination</a>, <a href="#sustained_damage">Sustained Damage</a>, <a href="#villain_defeat">Villain Defeat</a> </p>

<h2 id="removed_from_the_game">REMOVED FROM THE GAME</h2>
<p>A card that has been removed from the game is set aside and does not interact with the game in any manner for the duration of its removal. If there is no specified duration, a card that has been removed from the game is considered removed until the end of the game.</p>
<ul>
<li>Removed from the game” is an out-of-play state.</li>
</ul>
<p>See also: <a href="#in_play_and_out_of_play">In Play and Out of Play</a></p>

<h2 id="replacement_effects">REPLACEMENT EFFECTS</h2>
<p>A replacement effect is an effect that replaces the handling of one resolution with a different means of handling that resolution. Most replacement effects are interrupt abilities in the format of “when [triggering condition] would happen, do [replacement effect] instead.” After all responses to the original triggering condition have resolved and it is time to resolve the triggering condition itself, the replacement effect resolves instead.</p>
<ul>
<li>If multiple replacement effects are initiated against the same triggering condition, the most recent replacement effect is the one that is used for the resolution of the triggering condition.</li>
</ul>

<h2 id="resource">RESOURCE</h2>
<p>Resources are used to pay the cost to play cards and to pay certain ability costs.</p>
<ul>
<li>A player can generate resources to pay a cost by discarding cards from their hand to generate the resource or resources indicated at the bottom-left corner of the card, or by using card abilities that generate resources.</li>
<li>There are three types of resources in the game: energy, mental, and physical. Wild resources can be used as any of these types.</li>
<li>To pay the cost of playing a card, a number of resources equal to (or greater than) the card’s cost must be generated. For most cards, any type (or mix of types) of resources can be used to pay this cost.</li>
<li>If an ability has a resource cost, a number of resources equal to or greater than this cost must be generated. Many abilities require specific resource types, and the specified types in the specified quantities must be generated in order to pay the cost of the ability.</li>
<li>Excess resources generated toward any cost are lost, and do not carry over to future costs.</li>
</ul>
<p>See also: <a href="#cost">Cost</a>, <a href="#wild_resource">Wild Resource</a></p>

<h2 id="resource_ability">RESOURCE ABILITY</h2>
<p>A resource ability is a type of triggered ability, indicated by the bold “Resource” timing trigger.</p>
<ul>
<li>A resource ability can be triggered anytime the player who controls the ability is generating resources to pay a cost.</li>
</ul>

<h2 id="resource_cards">RESOURCE CARDS</h2>
<p>Resource cards are a player card type. Their primary function is to be discarded from a player’s hand to generate resources.</p>
<p>These cards generally provide more (or more efficient) resources than other card types when they are discarded from a player’s hand to generate resources.</p>
<ul>
<li>Some resource cards have card text that is active while using the card to generate resources.</li>
</ul>

<h2 id="response">RESPONSE</h2>
<p>A response ability is a type of triggered ability, indicated by the bold “Response” timing trigger. Response abilities may be executed after the specified triggering condition occurs, as described in the response’s ability text.</p>
<ul>
<li>Multiple responses may be executed from the same triggering condition.</li>
<li>A response opportunity occurs immediately after its triggering condition has been resolved. Opportunities to respond occur in player order until all players have passed consecutively.</li>
<li>Once the opportunity to respond to a triggering condition has been passed consecutively by all players, further responses to that specific triggering condition cannot be used.</li>
</ul>


<h2 id="restricted">RESTRICTED</h2>
<p>A player cannot control more than two restricted cards in play at a given time. If a player ever controls more than two restricted cards in play, they must immediately choose and discard from play restricted cards they control until they have only two.</p>

<h2 id="retaliate">RETALIATE X</h2>
<p>After this character is attacked, deal X damage to the attacker. The character must survive the attack to deal this damage. (X is the value next to the retaliate keyword.)</p>

<h2 id="reveal">REVEAL</h2>
<p>During step four of the villain phase, each player (in player order) reveals and resolves all facedown encounter cards that have been dealt to them, one card at a time.</p>
<p>To reveal an encounter card, a player flips the card faceup and resolves the card, including any keywords and “When Revealed” effects. Resolve revealed encounter cards based on their card type, as follows. If the revealed card is:</p>
<ul>
<li>an attachment, it enters play attached to the element specified by its text.</li>
<li>a minion, it enters play engaged with the player revealing the card.</li>
<li>a treachery, its effects resolve and it is discarded</li>
<li>an environment, it enters play next to the villain.</li>
<li>a side scheme, it enters play next to the main scheme.</li>
<li>an obligation, it is given to the player specified by the card, and that player resolves its text.</li>
</ul>
<p>If a player is instructed by card text to reveal an encounter card from the encounter deck or any other game area, this same resolution procedure applies.</p>

<h2 id="running_out_cards">RUNNING OUT OF CARDS</h2>
<p>See: <a href="#empty_encounter_deck">Empty Encounter Deck</a>, <a href="#empty_player_deck">Empty Player Deck</a></p>

<h2 id="scheme">SCHEME</h2>
<p>See: <a href="#enemy_schemes">Enemy Schemes</a>, <a href="#main_scheme">Main Scheme</a>, <a href="#side_scheme">Side Scheme</a></p>

<h2 id="search">SEARCH</h2>
<p>When a player is instructed to search for a card, the player is permitted to look at each of the cards in the searched area</p>
<p>If the player finds a card that satisfies the criteria of the search, the player adds that card to the game area indicated by the instructions on the search effect.</p>
<ul>
<li>If a player finds multiple cards that satisfy the criteria of a search, the player chooses among those options.</li>
<li>Cards being searched are not considered to leave the searched area.</li>
<li>Upon completion of any ability that searches an entire deck, shuffle the deck.</li>
</ul>

<h2 id="self_referential_abilities">SELF-REFERENTIAL ABILITIES</h2>
<p>Self-referential abilities refer only to the card on which the ability is located, and not to other copies of that card.</p>

<h2 id="setup">SETUP</h2>
<p>See: Appendix II: Setup</p>

<h2 id="side_scheme">SIDE SCHEME</h2>
<p>Side scheme is an encounter card type that represents additional obstacles and distractions the heroes are confronted with.</p>
<p>If a side scheme is revealed, it enters play and is placed next to the main scheme deck.</p>
<ul>
<li>Each side scheme enters play with an amount of threat on it equal to the card’s starting threat value (indicated at the bottom of the card).</li>
<li>A side scheme remains in play until there is no threat on it (which causes it to be defeated and discarded), or until a card ability removes it from play. (Threat can be removed from side schemes by using the thwart power of heroes and allies, or by using card abilities.)</li>
</ul>
<p>The following icons indicate different effects that a side scheme might have on the game:</p>
<p>If a side scheme has the crisisicon, that side scheme must be discarded before threat can be removed from the main scheme</p>
<p>For each acceleration icon in play, one additional threat is placed on the main scheme during step one of the villain phase.</p>
<p>For each side scheme with the hazard icon, an additional encounter card is dealt during step three of the villain phase. Additional cards are dealt in player order (first additional card to the first player, the second to the second player, etc.).</p>

<h2 id="simultaneous_resolution">SIMULTANEOUS RESOLUTION</h2>
<p>If two or more effects with the same bold timing trigger would resolve simultaneously, the first player determines the order in which the effects resolve.</p>

<h2 id="special">SPECIAL</h2>
<p>A special ability is a type of triggered ability, indicated by the bold “Special” timing trigger. Special abilities may only be executed through the explicit instruction of another card ability.</p>
<p>See also: <a href="#triggered_ability">Triggered Ability</a></p>

<h2 id="star_icon">STAR ICON</h2>
<p>A star icon is used in conjunction with a card’s stat or boost field to indicate that there is a mandatory ability in the text box that corresponds to that field. In and of itself, the star icon has no effect; it is merely a reminder to check the card’s text box whenever that field is used.</p>
<ul>
<li>If a star icon is located next to an enemy’s ATK or SCH value, the icon serves as a reminder to check that enemy’s text box whenever that enemy uses that value to attack or scheme.</li>
</ul>
<p>For example: Tiger Shark has an ATK value of 3, with a star icon in the field. Whenever Tiger Shark attacks, this icon reminds the players to check his text box. In the text box, they find the mandatory Forced Response, which reads, “After Tiger Shark attacks, give him a tough status card.” Because this star is associated with Tiger Shark’s attack power, only the ability that references his attack power is used. The Boost ability, which does not reference this power, is ignored.</p>
<ul>
<li>If a star icon is located in the ATK or SCH field of an attachment, the icon serves as a reminder to check that attachment’s text box whenever the attached enemy uses the value that field is modifying to attack or scheme.</li>
<li>If a star icon is located next to an ally’s ATK or THW value, the icon serves as a reminder to check that ally’s text box whenever that ally uses that value to attack or thwart.</li>
<li>If a star icon is located next to a hero’s ATK, THW, or DEF, or next to an alter-ego’s REC value, the icon serves as a reminder to check that character’s text box whenever they use that value to attack, thwart, defend, or recover.</li>
<li>If a star icon is located in an encounter card’s boost field, the icon serves as a reminder to check that card’s text box whenever that card is turned face up as a boost card during the villain’s activation</li>
</ul>
<p>For example: The villain has activated, and the players are resolving boost cards. The Tiger Shark card is turned faceup and has a star icon in its boost field. Whenever this card is flipped as a boost card, this icon reminds the players to check the its text box. In the text box, they find the mandatory Boost ability, which reads, “Give the villain a tough status card.” Because this star is located in the boost field, only the Boost ability is used. The star next to the Forced Response, which references Tiger Shark’s attack power, is ignored.</p>

<h2 id="status_cards">STATUS CARDS</h2>
<p>Status card represent different states a character may find themselves in during the game.</p>
<p>The following status cards are used in the game. When a character is given a status card, take a status card of the specified type from the pool and place it on that character.</p>
<ul>
<li>A character cannot have more than one status card of each type at a time.</li>
<li>Status card abilities have timing priority over all conflicting card abilities.</li>
</ul>
<p>The three status card types are:</p>
<p>Confused — If a confused hero or ally attempts to thwart or use a thwart ability, discard the confused card instead. Costs associated with the thwart attempt, including exhausting the character, must still be paid.</p>
<p>If a confused villain or minion would scheme, discard the confused status card instead.</p>
<p>Stunned — If a stunned hero or ally attempts to attack or use an attack ability, discard the stunned card instead. Costs associated with the attack attempt, including exhausting the character, must still be paid.</p>
<p>If a stunned villain or minion would attack, discard the stunned status card instead.</p>
<p>Tough — If a character with a tough status card would take any amount of damage, prevent all of that damage and discard the tough status card instead.</p>

<h2 id="stun">STUN</h2>
<p>If an ability “stuns” a character, give that character a stunned status card.</p>
<p>See also: <a href="#status_cards">Status Cards</a></p>

<h2 id="subtitle">SUBTITLE</h2>
<p>Some ally cards have a subtitle beneath the title. A subtitle represents an alternate identity a character sometimes uses.</p>
<p>See also: <a href="#unique">Unique</a></p>

<h2 id="support">SUPPORT</h2>
<p>Support is a player card type that represent locations, backline supporters or friends, and other behind-the-scenes elements a hero or alter-ego might have at their disposal.</p>
<ul>
<li>Support cards enter play in the back row of a player’s play area.</li>
<li>A support card is active while it is in play, and it remains in play until a card ability causes it to leave play.</li>
</ul>

<h2 id="surge">SURGE</h2>
<p>After an encounter card with this keyword is revealed, the player resolving the card reveals an additional encounter card. Complete the process of resolving the original card before revealing the additional card.</p>

<h2 id="sustained_damage">SUSTAINED DAMAGE; DAMAGE SUSTAINED</h2>
<p>Sustained damage refers to the difference between a character’s maximum hit points and remaining hit points.</p>
<ul>
<li>To calculate sustained damage for a hero or villain (using a hit point dial), start with the character’s maximum hit points (as indicated by its printed value modified by any card abilities or game effects), and subtract their remaining hit points (as indicated by the dial).</li>
<li>Sustained damage on an ally or minion is equal to the total value of all damage tokens on the card.</li>
</ul>
<p>See also: <a href="#remaining_hit_points">Remaining Hit Points</a></p>

<h2 id="table_talk">TABLE TALK</h2>
<p>Players are permitted and encouraged to talk to one another during play, and to work as a team to plan and execute the best course of action. Players can discuss anything they would like, including cards in play and cards in their hand. Players are not obligated to disclose the cards in their hand if they do not wish to do so.</p>
<ul>
<li>While resolving an encounter card with the peril keyword, players are not permitted to consult with one another.</li>
</ul>

<h2 id="target_threat">TARGET THREAT</h2>
<p>Target threat is the amount of threat required for the main scheme deck to advance. It is located in the upper left corner of the card, before the title.</p>
<p>See also: Main Scheme</p>

<h2 id="then">THEN</h2>
<p>If the effect text of an ability includes the word “then”, the text preceding the word “then” must be fully true or resolved before the remainder of the effect described after the word “then” can be resolved.</p>
<ul>
<li>If the pre-”then” text of an effect fully resolves, the post-”then” text of the effect must also attempt to resolve.</li>
<li>If the pre-”then” text of an effect does not fully resolve, the post-”then” text does not attempt to resolve.</li>
</ul>


<h2 id="threat">THREAT</h2>
<p>Threat tokens are used to track the amount of threat on scheme cards.</p>
<p>See also: <a href="#enemy_schemes">Enemy Schemes</a>, <a href="#main_scheme">Main Scheme</a>, <a href="#side_scheme">Side Scheme</a>, <a href="#prevent">Prevent</a>, <a href="#thwart">Thwart</a></p>

<h2 id="thwart">THWART</h2>
<p>Some game effects and card abilities reference a thwart attempt. There are a few different ways this can occur:</p>
<ul>
<li>A hero can use their basic thwart power to thwart a scheme. A hero must exhaust to use this power. This removes threat equal to the hero’s THW value from the scheme.</li>
<li>An ally can use its basic thwart power to thwart a scheme. This removes threat equal to the ally’s THW value from the scheme.</li>
<li>If a triggered ability is labeled as a thwart—such as “Hero Action (thwart)”—resolving that ability is considered to thwart the specified scheme. Unless specified by the ability’s text, a hero does not exhaust when using such an ability.</li>
</ul>
<p>See also: <a href="#consequential_damage">Consequential Damage</a></p>

<h2 id="tough">TOUGH, TOUGHNESS</h2>
<p>When a character with this keyword enters play, place a tough status card on it.</p>
<p>See also: <a href="#status_cards">Status Cards</a></p>

<h2 id="traits">TRAITS</h2>
<p>Many cards have one or more traits listed at the top of the text box and printed in bold italics.</p>
<ul>
<li>Traits have no inherent effects on the game. Instead, some card abilities reference cards that possess or lack specific traits.</li>
</ul>

<h2 id="treachery">TREACHERY</h2>
<p>Treachery is an encounter card type that represent tactics, tricks, disasters, and other immediate occurrences that confront players during a scenario.</p>
<ul>
<li>If a treachery card is revealed from the encounter deck, the player revealing the card must resolve its effects.</li>
<li>After resolving the effects of a treachery card (or the effects are canceled), place the card in the encounter discard pile.</li>
</ul>

<h2 id="triggered_ability">TRIGGERED ABILITY</h2>
<p>A triggered ability is indicated by a bold timing trigger followed by a colon and the rest of the ability text.</p>
<ul>
<li>A triggered ability on a player card can only be initiated if its effect could change the game on its own. This potential is assessed without taking into account the consequences of the cost payment or future responses to the effect.</li>
<li>Unless prefaced by the word “Forced,” all action and response abilities are optional.</li>
<li>Forced abilities, when revealed abilities, and when defeated abilities are triggered by the game at the ability’s appropriate timing point.</li>
<li>If the bold timing trigger of an ability contains the word “Hero” or “Alter-Ego,” the ability can only be used if the player triggering the ability is in the specified form.</li>
<li>If quotation marks are used around a timing trigger and colon, the quoted text is not itself a timing trigger, but is instead referring to other abilities with that trigger.</li>
</ul>
<p>See also: <a href="#action">Action</a>, <a href="#forced">Forced</a>, <a href="#interrupt">Interrupt</a>, <a href="#resource_ability">Resource Ability</a>, <a href="#response">Response</a>, <a href="#simultaneous_resolution">Simultaneous Resolution</a>, <a href="#special">Special</a>, <a href="#when_defeated_abilities">When Defeated Abilities</a>, <a href="#when_revealed_abilities">When Revealed Abilities</a></p>

<h2 id="triggering_condition">TRIGGERING CONDITION</h2>
<p>A triggering condition is a specific occurrence that takes place in the game. On card abilities, the triggering condition is the element of the ability that references such an occurrence, indicating the timing point at which the ability may be used. The description of an ability’s triggering condition usually follows the word “when” or “after.”</p>
<ul>
<li>If a single game occurrence creates multiple triggering conditions (such as a single attack causing a character to both take damage and be defeated), those triggering conditions are handled with a single interrupt window and a single response window. During each of these windows, abilities that refer to any of the triggering conditions created by the occurrence may be used in any order.</li>
</ul>
<p>See also: <a href="#interrupt">Interrupt</a>, <a href="#response">Response</a></p>

<h2 id="undefended">UNDEFENDED</h2>
<p>See: <a href="#enemy_attacks">Enemy Attacks</a></p>

<h2 id="unique">UNIQUE</h2>
<p>A card with a * icon before its title is unique.</p>
<ul>
<li>The players as a group are permitted to have only one copy of each unique card (by title) in play.</li>
<li>A player cannot include more than one copy of each unique card (by title) in their deck. The identity card is included in this evaluation</li>
</ul>
<p>In the Marvel setting, it is possible for multiple people to bear the same title. (For example, more than one person can bear the title of “Captain America,” but there is only one Steve Rogers.) Because of this, a comparison of alter-egos and/or subtitles between two cards may create the following exceptions to the unique rules stated above:</p>
<ul>
<li>If two identities share the same title, but each has a different alter-ego, they may coexist in play</li>
<li>If two unique allies share the same title, but each has a different subtitle, they may coexist in a player’s deck and in play.</li>
<li>If a hero and a unique ally share the same title, but the alter-ego and the subtitle are different, they may coexist in deckbuilding and in play.</li>
</ul>

<h2 id="upgrade">UPGRADE</h2>
<p>Upgrade is a player card type that represents powers, attacks, equipment, and other assets that are (in most cases) at an identity’s immediate disposal.</p>
<ul>
<li>An upgrade is active so long as it is in play, and it remains in play until a card ability causes it to leave play.</li>
<li>Most upgrade cards enter play near a player’s identity card, and modify the player’s hero or alter-ego (or both).</li>
<li>Some upgrades enter play and “attach to” another card. These upgrades modify the card they are attached to, not the hero or alter-ego of the player who played the upgrade.</li>
</ul>
<p>See also: <a href="#attach_to">Attach To</a></p>

<h2 id="uses">USES X</h2>
<p>When a card with this keyword enters play, place X all-purpose counters from the token pool on the card. The word following the value establishes and identifies the type of uses the card holds.Each card with this keyword also has an ability that references the type of use established by the keyword as part of the cost. When such an ability spends a use, a counter of that type must be removed from the card.After a card with uses spends its final use (and the effect resolves), discard the card.</p>

<h2 id="villain">VILLAIN, VILLAIN DECK</h2>
<p>Villain is an encounter card type that represents the primary enemy the players are attempting to defeat in a scenario.</p>
<p>The villain is represented by a sequential deck of one or more cards. The players defeat the villain by reducing the hit points of each stage of the villain deck to zero.</p>
<ul>
<li>The villain activates once per player during step two of the villain phase. If the player resolving the activation is in hero form, the villain attacks. If the player resolving the activation is in alter-ego form, the villain schemes.</li>
</ul>
<p>See also: <a href="#enemy_attacks">Enemy Attacks</a>, <a href="#enemy_schemes">Enemy Schemes</a>, <a href="#villain_defeat">Villain Defeat</a></p>

<h2 id="villain_defeat">VILLAIN DEFEAT</h2>
<p>If the villain’s hit point dial is reduced to zero, the players have defeated that stage of the villain. </p>
<p>Remove the current stage of the villain deck from the game. The next sequential stage of the villain deck is revealed. Set the villain’s hit point dial as indicated by that stage.</p>
<p><b>If the final stage of the villain deck is defeated, the players win the game.</b></p>
<ul>
<li>Excess damage that is dealt to defeat a villain stage does not carry over to the new stage.</li>
<li>Attachments, status cards, counters, and non-damage tokens on a villain carry over to the new stage.</li>
</ul>

<h2 id="villain_phase">VILLAIN PHASE</h2>
<p>The steps of the villain phase are:</p>
<ul>
<li>Place the amount of threat indicated in the main scheme’s acceleration field onto that scheme. If any acceleration icons or tokens are active, additional threat equal to the number of such icons and tokens is also placed at this time.</li>
<li>The villain activates once per player. For each activation, any minions engaged with that player also activate.</li>
<li>Deal one encounter card to each player. Deal one additional card for each hazard symbol on a card in play. These additional cards are dealt in player order.</li>
<li>Players reveal their dealt encounter cards. The first player reveals each of their encounter cards, one card at a time, resolving each card based on its card type. Each player repeats this process in player order, until no dealt encounter cards remain.</li>
<li>Pass the first player token to the next clockwise player and end the round.</li>
</ul>
<p>See also: <a href="#activation">Activation</a>, <a href="#deal">Deal</a>, <a href="#reveal">Reveal</a>, <a href="#main_scheme">Main Scheme</a></p>

<h2 id="when_defeated_abilities">WHEN DEFEATED ABILITIES</h2>
<p>A when defeated ability is a type of triggered ability, indicated by the bold “When Defeated” timing trigger.</p>
<p>When a villain stage, side scheme, main scheme stage, ally, or minion is defeated, all when defeated abilities on the card resolve.</p>

<h2 id="when_revealed_abilities">WHEN REVEALED ABILITIES</h2>
<p>A when revealed ability is a type of triggered ability, indicated by the bold “When Revealed” timing trigger.</p>
<p>When a player reveals a card from the encounter deck, a new scheme stage, or a new villain stage, all when revealed abilities on the card resolve.</p>
<ul>
<li>If an encounter card with a “When Revealed” ability enters play during setup, resolve that ability during setup step 10.</li>
</ul>

<h2 id="wild_resource">WILD RESOURCE</h2>
<p>When a player generates a wild resource, they must specify which resource type (energy, mental, or physical) it is being used as.</p>
<ul>
<li>When resources are not being generated for a cost, a wild resource does not have any characteristic other than “wild resource.” In such contexts, wild resources cannot be interpreted as any of the other resource types.</li>
</ul>


<h2 id="winning_the_game">WINNING THE GAME</h2>
<p>If the players defeat the final villain stage, they win the game. If the final stage of the main scheme deck is completed, the villain wins the game.</p>


<h2 id="you">YOU</h2>
<p>In Marvel Champions, each player takes on the role of a Marvel Hero, represented by the identity card. Essentially, the player is their identity card while playing the game.</p>
<ul>
<li>While interpreting card text, if the word “you” can be interpreted as referring to the player, it should be interpreted as such. For example, Interrogation Room reads, “After you defeat a minion, exhaust Interrogation Room...” Any time the player controlling this card defeats a minion, the ability may be used.</li>
<li>If a specific character is required to interpret an ability using the word “you,” the identity card is the character that must be used. For example, Toe to Toe reads, “Hero Action (attack): Choose an enemy. That enemy attacks you.” As attacks are directed against individual characters, “you” refers to the identity card of the of the player who played this event.</li>
</ul>


</div>

<script>
var curInnerHTML = document.getElementById("rules").innerHTML;
curInnerHTML = curInnerHTML.replace(/\[(\w+)\]/g, '<span title="$1" class="icon-$1"></span>')
document.getElementById("rules").innerHTML = curInnerHTML;
</script>


{% endblock %}
